<% provide(:fourchette, "active") %>

   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container head_clem">
	<%= image_tag("logo_clem.jpg", class:"img-responsive center-block") %>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Une cuisine bio et locale. </h2>
          <p>Nos légumes sont cultivés juste à côté de chez vous, par Adrien dans son champ pas très loin blablabla. Je propose des petits plats bio et sans gluten, végétariens ou non. </p> 
        </div>
        <div class="col-md-4">
          <h2>Un foodtruck en or massif</h2>
          <p>Dans mon foodtruck flambant neuf, je me déplace dans tout le Roannais. Que ce soit pour un festival, un mariage, animer un événement ou juste enrichir les papilles de vos invités, c'est toujours bien d'avoir un foodtruck dans son jardin.    </p>
       </div>
        <div class="col-md-4">
          <h2>A la portée de tous</h2>
        <p> Je me rémunère en vendant de la nourriture à vos invités, l'idée est de rendre la bonne cuisine accessible à tous. Comptez 8 euros pour un menu et 5 euros pour un plat simple ! </p>
	</div>
      </div>
      <div class="row">
	<div class="col-md-6 map">
          <iframe width="40%" height="100%" scrolling="no" src="https://maps.google.com"></iframe>
        </div>
        <div class="col-md-6">
	  <h4> contact : </h4>
	  <p> Clémentine Chaffal
              <br>
             3 rue machin <br> 98220 Roanne </p>
          <ul class="list-unstyled">
		<li><i class="fa fa-phone fa-fw"></i> 01 32 56 25 15</li>
		<li><i class=" fa fa-envelope-o fa-fw"></i><a href="mailto:clementine.truc@machin.com">clementine.truc@machin.com</a></li>
                <li><a href="facebook.com"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
	  </ul>	
        </div>
      </div>
	<hr>
	<footer>
	<p> De la grelinette à la fourchette </p>
	</footer>
    </div> <!-- /container -->
